{% extends 'base.html.twig' %}

{% block title 'Voir tous nos biens'%}

{% block body %}
    <div class="container mt-4 text-center">
        <h1>Voir tous nos biens</h1>
        {# <p>rjfhnkgmfn n  vfgkjhgirojnhg enhf erwhdjcfkmlnwzn cfhubnhvdjkmnfrgfhj djfikjirhjrfc   fdkjfkjdhbjfhregv vhfr</p> #}
    </div>
{% endblock%}